*.sw[pon]
*.pyc
*~
*.db


*.DS_Store
demo/package-lock.json
demo/node_modules/
.sass-cache
.DS_Store
.sublime-gulp.cache

# demo/src/
# demo/.babelrc
# demo/config.rb
# demo/gulpfile.babel.js
# demo/package.json
demo/src/img/