doctype html
html
	head
		include  ../common/fragment/_head
		+head('yue/mayAndCatBus','梅和小猫巴士')
		link(rel="stylesheet" href="/static/css/vendor/timeline-2.css")
	body
		canvas#stage
		header
			img(src="/static/img/pages/yue/mayAndCatBus/0.jpg" style="position:relative;")
			h2.text-center(style="position:relative;") 《梅和小猫巴士》
			p(style="text-indent:2em;margin:.5rem 1rem;position:relative;background:rgba(255,255,255,.7);") 《梅和小猫巴士》是《龙猫》的番外篇，这次天真无畏的妹妹小梅，巧遇了小猫巴士，他们一起参加了龙猫家族的大游行，还见到了奶奶猫巴士
			//- p(style="text-indent:2em;margin: 1rem;") 这部动画从未公映，仅在吉卜力美术馆内播放。所以用从网上搜集的图片，拼凑了这段小故事。还是很期待有机会能去到崎玉县的龙猫森林走一走，能到土星座电影院看一看，能去参观一下三鹰之森的画展。。
			img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/7.jpeg")
			img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/1.jpg"  style="position:relative;")
			img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/6.jpeg")
			img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/01.GIF")
			img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/03.GIF")
			img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/02.GIF")
		main
			
			//- img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/5.GIF" style="display:block;margin:auto;max-width:100%;")

			.serviceBox
				.service-icon
					i.fa.fa-globe 1
				.service-content
					h3.title 这是一个风很大的日子
						br
						| 梅一个人在田野里玩耍
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/000.jpg")
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/001.jpg")
			.serviceBox.yellow
				.service-icon
					i.fa.fa-globe 2
				.service-content
					h3.title 爬上一块大石头，哇！
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/002.jpg")
			.serviceBox.blue
				.service-icon
					i.fa.fa-globe 3
				.service-content
					h3.title 咦！这是什么？
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/003.jpg")
			.serviceBox.green
				.service-icon
					i.fa.fa-globe 4
				.service-content
					h3.title 旋风追过来了。
						br
						| 
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/004.jpg")



			.serviceBox
				.service-icon
					i.fa.fa-globe 5
				.service-content
					h3.title 旋风一直追着小梅跑进屋子里。
						br
						| 
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/005.jpg")
			.serviceBox.yellow
				.service-icon
					i.fa.fa-globe 6
				.service-content
					h3.title 旋风原来其实是一只小小的猫巴士。
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/006.jpg")
			.serviceBox.blue
				.service-icon
					i.fa.fa-globe 7
				.service-content
					h3.title 梅把糖果分给小猫巴士，两人成为了朋友。
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/007.jpg")
			.serviceBox.green
				.service-icon
					i.fa.fa-globe 8
				.service-content
					h3.title 甜甜的糖果真好吃。
						br
						| 梅一个人在田野里玩耍
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/008.jpg")

			.serviceBox
				.service-icon
					i.fa.fa-globe 9
				.service-content
					h3.title 窗口探出一个大脑袋，是父亲来了。
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/009.jpg")
			.serviceBox.yellow
				.service-icon
					i.fa.fa-globe 10
				.service-content
					h3.title 你要走了吗？
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/010.jpg")
			.serviceBox.blue
				.service-icon
					i.fa.fa-globe 11
				.service-content
					h3.title 约好了，我们晚上出去玩。
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/011.jpg")
			.serviceBox.green
				.service-icon
					i.fa.fa-globe 12
				.service-content
					h3.title 半夜醒来，悄悄起床
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/012.jpg")

			.serviceBox
				.service-icon
					i.fa.fa-globe 13
				.service-content
					//- h3.title 哇，前方的路好明亮
					//- p.description
					//- 	img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/013.jpg")
					h3.title 你来啦，咱们出发吧。
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/014.jpg")
			.serviceBox.yellow
				.service-icon
					i.fa.fa-globe 14
				.service-content
					//- h3.title 你来啦，咱们出发吧。
					//- p.description
					//- 	img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/014.jpg")
					h3.title 哇，前方的路好明亮
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/013.jpg")
			.serviceBox.blue
				.service-icon
					i.fa.fa-globe 15
				.service-content
					h3.title 父亲猫巴士又出现了。
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/015.jpg")
			.serviceBox.green
				.service-icon
					i.fa.fa-globe 16
				.service-content
					h3.title 没见过这么多猫巴士，他们向森林聚拢。
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/016.jpg")
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/016-2.jpg")
			
			.serviceBox
				.service-icon
					i.fa.fa-globe 17
				.service-content
					h3.title 森林里好多龙猫啊！
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/017.jpg")
			.serviceBox.yellow
				.service-icon
					i.fa.fa-globe 18
				.service-content
					h3.title 看着他们，梅小小地有点害怕了。
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/018.jpg")
			.serviceBox.blue
				.service-icon
					i.fa.fa-globe 19
				.service-content
					h3.title 到站了，可以下车了。
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/019.jpg")
			.serviceBox.green
				.service-icon
					i.fa.fa-globe 20
				.service-content
					h3.title 好多龙猫啊，不过他们不像会伤害我的样子。
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/020.jpg")
			
			.serviceBox
				.service-icon
					i.fa.fa-globe 21
				.service-content
					h3.title  啊，见到熟人了
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/021.jpg")
			.serviceBox.yellow
				.service-icon
					i.fa.fa-globe 22
				.service-content
					h3.title 啊，一个熟悉的大胖子
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/022.jpg")
			.serviceBox.blue
				.service-icon
					i.fa.fa-globe 23
				.service-content
					h3.title 梦回上次相拥
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/023.jpg")
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/5.GIF")
			.serviceBox.green
				.service-icon
					i.fa.fa-globe 24
				.service-content
					h3.title 超级豪华的猫巴士来了。
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/024.jpg")
			
			.serviceBox
				.service-icon
					i.fa.fa-globe 25
				.service-content
					h3.title 你好，初次见面，请多关照。
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/025.jpg")
			.serviceBox.yellow
				.service-icon
					i.fa.fa-globe 26
				.service-content
					h3.title 你好啊！
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/026.jpg")
			.serviceBox.blue
				.service-icon
					i.fa.fa-globe 27
				.service-content
					h3.title 给你一颗糖。
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/027.jpg")
			.serviceBox.green
				.service-icon
					i.fa.fa-globe 28
				.service-content
					h3.title 我玩够了，小猫巴士送我回家
					p.description
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/028.jpg")
						img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/028-2.JPEG")

		footer
			p(style="text-indent:2em;margin: 1rem;position:relative;background:rgba(255,255,255,.7);") 这部动画从未公映，仅在吉卜力美术馆内播放。所以用从网上搜集的图片，拼凑了这段小故事。还是很期待有机会能去到崎玉县的龙猫森林走一走，能到土星座电影院看一看，能去参观一下三鹰之森的画展。。
			img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/11.jpg")
			img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/13.jpg")
			img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/9.jpg")
			img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/10.jpg")
			img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/12.jpg")
			img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/4.jpg")
			img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/2.jpeg")
			img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/3.jpeg")
			img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/8.jpeg")
			img(src="http://birth.daokoudai.net/20181206/mayAndCatBus/00.jpeg")
			

		script(src='/static/js/vendor/canvas/text-pixel/EasePack.min.js')
		script(src='/static/js/vendor/canvas/text-pixel/TweenLite.min.js')
		script(src='/static/js/vendor/canvas/text-pixel/easeljs-0.7.1.min.js')
		//- script(src='/static/js/vendor/canvas/text-pixel/requestAnimationFrame.js')
		script(src='/static/js/vendor/canvas/text-pixel/index.js')

		include  ../common/fragment/_script
		+script('yueMayAndCatBus')