<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"><meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<title>登录</title>
	<style>
		body,p{margin:0}a{text-decoration:none}.hiding{display:none !important}.text-center{text-align:center}.text-right{text-align:right}html{font-size:87.5%}body{overflow-x:hidden;background-image:url("/static/img/pages/demo/login/background.jpg");background-repeat:no-repeat;background-position:top center;background-size:100% auto;background-color:#080822;padding-top:12rem}form{position:relative;max-width:300px;margin:auto;overflow:hidden;background-color:rgba(255,255,255,0.7);box-shadow:1px 1px 2px #4a4949;text-shadow:2px 5px 3px #666}form>p{margin:1.5rem;position:relative;line-height:3rem;border-bottom:1px solid #6fba2c}form>p input{border:0;background-color:transparent;height:3rem;font-size:1.2rem;width:12rem;padding-left:.5rem;outline:0}form>div{margin:1.5rem;position:relative;line-height:3rem}form>div>input{appearance:none;-webkit-appearance:none;width:100%;background-color:#6fba2c;height:3rem;font-size:1.2rem;border:0}
	</style>
</head>
<body>
	<form method="post">
		{{uf.as_p}}
		<div>
			<input type="submit" value="ok" />
		</div>
	</form> 
</body>
</html>