<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"><meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<title>梅和小猫巴士</title>
	<style>
		body,p{margin:0}a{text-decoration:none}.hiding{display:none !important}.text-center{text-align:center}.text-right{text-align:right}html{font-size:75%}
	</style>
</head>
<body>
	<img src="http://birth.daokoudai.net/20181206/mayAndCatBus/0.JPG" style="display:block;margin:auto;max-width:100%;">
	<h2 style="text-align:center;">《梅和小猫巴士》</h2>
	<p style="text-indent:2em;margin:.5rem 1rem;">《梅和小猫巴士》是《龙猫》的续集，这次天真无畏的妹妹小梅，巧遇了小猫巴士，他们一起参加了龙猫家族的大游行，还见到了奶奶猫巴士。。</p>
	<p style="text-indent:2em;margin: 1rem;">由于此部动画从未公映，仅在吉卜力美术馆内播放。所以我从网上搜罗了很多素材，尝试拼凑了这一部连环画。还是很希望有机会能去龙猫森林走一走，能到土星座电影院看一看</p>
	<img src="http://birth.daokoudai.net/20181206/mayAndCatBus/00.jpeg" style="display:block;margin:auto;max-width:100%;"><img src="http://birth.daokoudai.net/20181206/mayAndCatBus/01.GIF" style="display:block;margin:auto;max-width:100%;"><img src="http://birth.daokoudai.net/20181206/mayAndCatBus/02.GIF" style="display:block;margin:auto;max-width:100%;"><img src="http://birth.daokoudai.net/20181206/mayAndCatBus/1.jpeg" style="display:block;margin:auto;max-width:100%;"><img src="http://birth.daokoudai.net/20181206/mayAndCatBus/2.jpeg" style="display:block;margin:auto;max-width:100%;"><img src="http://birth.daokoudai.net/20181206/mayAndCatBus/3.jpeg" style="display:block;margin:auto;max-width:100%;"><img src="http://birth.daokoudai.net/20181206/mayAndCatBus/4.jpg" style="display:block;margin:auto;max-width:100%;"><img src="http://birth.daokoudai.net/20181206/mayAndCatBus/5.GIF" style="display:block;margin:auto;max-width:100%;">
</body>
</html>